.navbar{
    border-style: solid;
    border-color: rgba(216, 223, 223, 0.733);
    background-color:aliceblue;
    position: fixed;
    width: 100%;
    
    
}
.logo{
    height: 80px;
    width: 120px;
    margin-left: 160px;
    margin-right: 40px;
}
.nav-link{
    font-size: 16px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
